In [5]:
#Here we are using the double quotes
print("Hello world")

Hello world

In [2]:
#Here we are using the string with single quotes.
print('Hello world')

Hello world

In [6]:
print('Hello world')
print("Hello Friends")
print('Welcome...')

Hello world
Hello Friends
Welcome...

In [9]:
# "=" is an assignment operator.
num = 45

In [8]:
print(num)

45

In [10]:
num1 = 58
num2 = 87.23

In [11]:
print(num1,num2)

58 87.23

In [16]:
#Type is a function that is used to check what type of data it has internally.
type(num1)

int

In [17]:
type(num2)

float

In [18]:
name = 'Ravi'

In [19]:
type(name)

str

In [20]:
#integers can take any number.
num = 12345678910

In [21]:
print(num)

12345678910

In [22]:
num * 13

160493825830

In [23]:
## OPerations.

In [24]:
#creating three variables at a time
a,b,c = 1,2,3

In [25]:
print(a)

1

In [26]:
print(b)

2

In [27]:
print(c)

3

In [28]:
a,b = 43,56
add = a + b
print(add)

99

In [29]:
a,b = 43,56
add = a + b
print("Addition is ",add)

Addition is  99

In [30]:
# String data
print("My name is", name)

My name is Ravi

In [31]:
sent = "I like 'python' programming"

In [32]:
print(sent)

I like 'python' programming

In [33]:
sent = 'I like "python" programming.'

In [34]:
print(sent)

I like "python" programming.

In [35]:
name.upper()

'RAVI'

In [37]:
name.lower()

'ravi'

In [39]:
name.swapcase()

'rAVI'

In [40]:
name.title()

'Ravi'

In [41]:
name.replace('a','oo')

'Roovi'

In [42]:
help(name.find)

Help on built-in function find:

find(...) method of builtins.str instance
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [53]:
name  + " " + "Shillong"

'Ravi Shillong'

In [54]:
name * 3

'RaviRaviRavi'

In [55]:
(name + " ") * 3

'Ravi Ravi Ravi '

In [56]:
a,b = 43,56
add = a + b  # This is an addition statement
print("Addition is ",add)

Addition is  99

In [61]:
#Multi line string.
line = ''' 
           I love apples
           I love Delhi University
           I love Eflu'''

In [62]:
print(line)

           I love apples
           I love Delhi University
           I love Eflu

In [63]:
#using google toolkit in Indian languages.
#https://www.google.com/intl/sa/inputtools/try/
name = "రవి"

In [64]:
print(name)

రవి

In [65]:
name.startswith('ర')

True

In [67]:
name.endswith('ర')

False

In [68]:
name = "Ravi"
marks = 89

In [75]:
print("name is:",name,", Marks are:",marks)

name is: Ravi , Marks are: 89

In [77]:
#Formatted print method.
print('My name is %s and my marks are %f'%(name,marks)) # %f is float

My name is Ravi and my marks are 89.000000

In [78]:
print('My name is %s and my marks are %i'%(name,marks)) #%i is an integer.

My name is Ravi and my marks are 89

In [79]:
# Operators, we need not use bitwise and identity operators.
#Arethematic operators.
num1 = 45
num2 = 53

In [84]:
#Adition.
add = num1 + num2
print("Addition is:",add)

#Substraction.
sub = num1 - num2
print("Substraction is:",sub)

#Multiplication.
mul = num1 * num2
print("Multiplication is:",mul)

#Division.
div = num1 / num2
print("Division is:",div)

#Floor division.
floor_div = num1 // num2
print("floor Division is:",floor_div)

#Remainder.
rem = num1 % num2
print("Remainder is:",rem)

#Exponential.
expo = num1 % num2
print("Raise/exponential to:",expo)

Addition is: 98
Substraction is: -8
Multiplication is: 2385
Division is: 0.8490566037735849
floor Division is: 0
Remainder is: 45
Raise/exponential to: 45

In [85]:
#Relational operators.
print('Greater Than                 :', num1 >   num2)
print('Less Than                    :', num1 <   num2)
print('Greater Than or  Equal to    :', num1 >=  num2)
print('Less Than  or Equal to       :', num1 <=  num2)
print('Equal to                     :', num1 ==  num2)
print('Not Equal to                 :', num1 !=  num2)

Greater Than                 : False
Less Than                    : True
Greater Than or  Equal to    : False
Less Than  or Equal to       : True
Equal to                     : False
Not Equal to                 : True

In [87]:
#Program to find the addition of two numbers.
num1 = int(input('Enter the first number:'))
num2 = int(input('Enter the second number:'))
add = num1 + num2
print("Addition is", add)

Enter the first number: 44
Enter the second number: 54

Addition is 98

In [88]:
#Program to find the addition of two numbers using float.
num1 = float(input('Enter the first number:'))
num2 = float(input('Enter the second number:'))
add = num1 + num2
print("Addition is", add)

Enter the first number: 45.5
Enter the second number: 46.7

Addition is 92.2

In [90]:
#We see that input takes the string.
name = input("Enter the name")
print("My name is", name)
print("My name is", name.upper())
print(type(name))

Enter the name Ravi

My name is Ravi
My name is RAVI
<class 'str'>