#Question 1:

In [4]:
#Created input for actual_cost and selling_cost.
Actual_cost = int(input('Enter the actual cost: '))
Selling_cost = int(input('Enter the selling cost: '))
# Calculated profit or loss.
profit_loss = Selling_cost - Actual_cost
if Actual_cost < Selling_cost:
  print(profit_loss," is profit")  
else:
  print(profit_loss," is loss")

Enter the actual cost: 45
Enter the selling cost: 35
-10  is loss

#Question 2:

In [10]:
#Created an input for basic salary
Basic = float(input('Enter the value of Basic: '))
#Calculating 75%of basic
D_A = float(75/100)*Basic
print('value of DA',D_A)
#Calculated 20% of Hra
Hra = float(20/100)*Basic
print('Value of HRA',Hra)
if Basic < 10000:
  print("Gross is ", D_A+Basic)
elif Basic <20000:
  print("Gross is", D_A+Basic+float(50/100)*Hra) #Calculated 50% of hra.
if Basic >= 20000:
  print("Gross is", Basic+D_A+Hra)

Enter the value of Basic: 24000
value of DA 18000.0
Value of HRA 4800.0
Gross is 46800.0

#Question 3:

In [14]:
#Factorial of a number.
#eg: Factorial of 5, that is, 5*4*3*2*1.
num = int(input('Enter the value :'))
fact = 1 #factorial of zero and one are one.
if num == 0:
  print("factorial of 0 is 1")
else:
  for i in range(1,num+1):
    #print(i)
    fact = fact*i
  print('Factorial of',num,'is',fact)

Enter the value :5
Factorial of 5 is 120

#Question 4:

In [18]:
#Created input for num_1 and num_2.
num_1 = int(input('Enter the vale of num_1:'))
num_2 = int(input('Enter the value of num_2:'))
#Created a range between num_1 to num_2
range1 = range(num_1, num_2) 
#Calculated the sum of numbers between the range.
sum1 = sum(range1) 
print('The sum of numbers between range',num_1,'and',num_2, 'is',sum1)

Enter the vale of num_1:5
Enter the value of num_2:9
The sum of numbers between range 5 and 9 is 26

#Question 5:

In [16]:
#created a list of languages
languages= ['marathi','bangla','urdu','bangla','odia','urdu','kannada','bangla','tamil','kannada','marathi']

In [17]:
#Deleted urdu from the list and created a new list.
list_x = [x for x in languages if x !='urdu']
print(list_x)

['marathi', 'bangla', 'bangla', 'odia', 'kannada', 'bangla', 'tamil', 'kannada', 'marathi']

#Question 6:

In [39]:
#Created a tuple
num = (56,2,35,41,43,48,32,56,71,55,68)
#Created a list that contains only even numbers from num.
list_1 = [x for x in num if x%2 == 0]
print(list_1)
#Created a list that contains only odd numbers from num.
list_2 = [x for x in num if x%2 != 0]
print(list_2)

[56, 2, 48, 32, 56, 68]
[35, 41, 43, 71, 55]

#Question 7:

In [18]:
#Created a user defined function to check whether the number is an odd number or even number.
def even_odd (x):
  if x%2 == 0 :
    print(x,'is even number')
  else:
    print(x, 'is odd number')

In [21]:
a = 24
even_odd(a)

24 is even number