#Question1

In [1]:
import math

In [2]:
#Read a number from user
numb = int(input())

45

In [3]:
#square root
math.sqrt(numb)

6.708203932499369

In [4]:
#Sin 
math.sin(numb)

0.8509035245341184

In [5]:
#tan
math.tan(numb)

1.6197751905438615

In [6]:
#log
math.log(numb)

3.8066624897703196

In [7]:
#Factorial
math.factorial(numb)

119622220865480194561963161495657715064383733760000000000

#Question-2

In [9]:
#Created a file temp.txt
with open('temp.txt','w') as f:
  f.write('i created a new text!')

In [10]:
f = open('temp.txt','r')
print(f.read())

i created a new text!

In [11]:
#Reading the temp.txt file and copying its content to anoter file, by converting it to upper case.
with open('temp.txt','r') as f:
     with open("temp1.txt", "w") as f1:
       for line in f:
         f1.write(line.upper())

In [12]:
f_n= open('temp1.txt','r')
print(f_n.read())

I CREATED A NEW TEXT!

#Question 3

In [13]:
class Rectangle:   #Class rectangle
  def __init__(self,l,w):
    self.length = l      #Two attributes length and width
    self.width = w
  def calculate (self,x,y): #method claculate
    print('area of rectangle is', x+y )


apple = Rectangle (4,5)   #created an object to pass length and width
print(apple.length,apple.width)
apple.calculate(4,5) # called the method to calculate the area

4 5
area of rectangle is 9

#Question4

In [14]:
import pandas as pd

In [17]:
data = pd.read_csv('/content/cricket.csv')  #read the csv file

In [18]:
data.head(4)

   sr.no           name  matches  runs  catches  wickets  stumpings
0      1    Anil Dalpat      122  6755       56       12          0
1      2   Rohan Kanhay      144  1256       76      178          0
2      3  Avdhoot Dighe      265  8954      120        0          0
3      4       Bahubali       10   756        6       11          3

In [ ]:
# 1. Names of the players
for index , row in data.iterrows():
  print(row ['name'])

ANIL DALPAT
ROHAN KANHAY
AVDHOOT DIGHE
BAHUBALI
LEELADHAR
PRADYUMNA
DINESH ROY
PARMESHWAR
ALI DURRANI
LITESH SINGH

In [22]:
# matches are greater than 100
df = data [(data['matches'] > 100)] #data.drop(['sr.no','runs','catches','wickets','stumpings'])

In [21]:
df.head()

   sr.no           name  matches  runs  catches  wickets  stumpings
0      1    Anil Dalpat      122  6755       56       12          0
1      2   Rohan Kanhay      144  1256       76      178          0
2      3  Avdhoot Dighe      265  8954      120        0          0
4      5      Leeladhar      234  2866      105      376          0
5      6      Pradyumna      177  5877       47      122          0

In [23]:
#Names of the players whose mathches are greater than 100
df.drop(['sr.no','runs','catches','wickets','stumpings'], axis =1)

            name  matches
0    Anil Dalpat      122
1   Rohan Kanhay      144
2  Avdhoot Dighe      265
4      Leeladhar      234
5      Pradyumna      177
6     Dinesh Roy      211
7     Parmeshwar      245

In [26]:
#Information of the players whose names start with 'A'
data[data['name'].str.contains('A')]

   sr.no           name  matches  runs  catches  wickets  stumpings
0      1    Anil Dalpat      122  6755       56       12          0
2      3  Avdhoot Dighe      265  8954      120        0          0
8      9    Ali Durrani       55  2756       12       26          0

In [29]:
#Converting all the names to upper case
data['name'] = data['name'].str.upper()

In [28]:
data

   sr.no           name  matches  runs  catches  wickets  stumpings
0      1    ANIL DALPAT      122  6755       56       12          0
1      2   ROHAN KANHAY      144  1256       76      178          0
2      3  AVDHOOT DIGHE      265  8954      120        0          0
3      4       BAHUBALI       10   756        6       11          3
4      5      LEELADHAR      234  2866      105      376          0
5      6      PRADYUMNA      177  5877       47      122          0
6      7     DINESH ROY      211  8537      112       16          0
7      8     PARMESHWAR      245  9466       53        0          0
8      9    ALI DURRANI       55  2756       12       26          0
9     10   LITESH SINGH       89  1099       46       49          0

In [30]:
#Replaced the names with original values
data['name'] = data['name'].str.title()

In [31]:
data

   sr.no           name  matches  runs  catches  wickets  stumpings
0      1    Anil Dalpat      122  6755       56       12          0
1      2   Rohan Kanhay      144  1256       76      178          0
2      3  Avdhoot Dighe      265  8954      120        0          0
3      4       Bahubali       10   756        6       11          3
4      5      Leeladhar      234  2866      105      376          0
5      6      Pradyumna      177  5877       47      122          0
6      7     Dinesh Roy      211  8537      112       16          0
7      8     Parmeshwar      245  9466       53        0          0
8      9    Ali Durrani       55  2756       12       26          0
9     10   Litesh Singh       89  1099       46       49          0

In [32]:
#Addition of all runs
sum_of_runs= data ['runs'] = data['runs'].sum()

In [34]:
print ('Sum of all Runs is',sum_of_runs)

Sum of all Runs is 48322